@import "tailwindcss";
@import "leaflet/dist/leaflet.css";

/* Background Image */
body {
  background-image: url('/hero-bg-bg.png');
}

/* Global Smooth Scroll */
html {
  scroll-behavior: smooth;
}

/* Font */
@font-face {
  font-family: 'BigNoodleTitling';
  src: url('./assets/fonts/BigNoodleTitling.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Clip Styles */
.clip-corner {
  clip-path: polygon(
    40px 0,
    100% 0,
    100% calc(100% - 40px),
    calc(100% - 40px) 100%,
    0 100%,
    0 40px
  );
}

.clip-button,
.button-clip {
  clip-path: polygon(
    10px 0%, 
    100% 0%, 
    100% calc(100% - 10px), 
    calc(100% - 10px) 100%, 
    0% 100%, 
    0% 10px
  );
}

.deep-cut {
  clip-path: polygon(
    60px 0%,           
    100% 0%, 
    100% calc(100% - 60px), 
    calc(100% - 60px) 100%, 
    0% 100%, 
    0% 60px
  );
}

/* Form Styles */
.form-input {
  width: 100%;
  padding: 0.5rem 1rem;
  background-color: #000;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 0.5rem;
  color: #fff;
  font-size: 1rem;
  transition: all 0.2s;
}

.form-input::placeholder {
  color: #6b7280; /* Tailwind gray-500 */
}

.form-input:focus {
  outline: none;
  border-color: #64BD55;
}

/* Form Buttons */
.form-btn {
  width: 100%;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  font-size: 0.875rem;
  font-weight: 500;
  transition: opacity 0.2s;
}

.form-btn:hover {
  opacity: 0.8;
}

/* ===== Custom Green Scrollbar ===== */
.scrollbar-green {
  scrollbar-width: thin;
  scrollbar-color: #64BD55 transparent;
}

.scrollbar-green::-webkit-scrollbar {
  width: 8px;
}

.scrollbar-green::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar-green::-webkit-scrollbar-thumb {
  background-color: #64BD55;
  border-radius: 10px;
  border: 2px solid transparent;
  background-clip: content-box;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
